/* - INICIO - */
/* - BANNER - INICIO - */
.container-flexo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.item-flexo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: center;
  max-width: 33.33vmax;
  height: 100%;
}
.img-container-flexo {
  box-sizing: border-box;
  width:100%;
}
.item-flexo img {
  box-sizing: border-box;
  width: 100%;
}
.text-container-item-flexo {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  margin-left: 1.5rem;
  padding: 0;
  background-color: hsla(0, 0, 0, 0.6);
}
.text-h2-container-flexo {
  box-sizing: border-box;
  width: 100%;
  padding: 0.4rem;
  margin: 0;
}
.text-h2-container-flexo > h2 {
  padding: 0 6px;
  margin: 0;
  text-align:right;
  text-decoration: none;
  font-size:1.5rem;
  line-height:1.6rem;
  font-weight: 700;
} 
.text-h2-container-flexo > h2 > a {
    box-sizing: border-box;
    color: white;
    text-decoration: none; 
    line-height: 0.8rem;
    text-align: right;
    border:0;
  }
@media screen and (max-width: 1101px) {
  #banner-cold-brew {
    min-height:0 !important;
  }
  .text-h2-container-flexo > h2 {
    font-size:1.2rem;
  }  
}
@media screen and (max-width: 800px) {
  .container-flexo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
  .item-flexo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.5rem 0 0 0;
    padding: 0;
    position: relative;
    align-items: center;
    max-width: 90vw;
    height: 100%;
  }
}
/* - TIPOGRAFIA - */
h1 {
	background-color: #235789;
  padding: 1rem;
}
.shadow {
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
}
h2 {
	padding: 0.6rem;
	background-color: #00a8e8;
	color: white;
 a {
  border-bottom: 4px solid;
  padding-bottom: 0px;

	}
}
h3 a{
    border-bottom: 4px solid;
}
h3 a:hover {
  border-bottom: 8px solid;
}
h4 {
    font-weight: 900;
    font-size: 22px;
    text-decoration: underline;
}
/* - MARDOWN - */
.sqs-block-markdown p a {
    border-bottom: 3px solid #66beff;
    color: #303030;
    padding-bottom: 0px;
    box-shadow: inset 0 -4px 0 #66beff;
}
.sqs-block-markdown p a:hover {
    border-bottom: 3px solid #66beff;
    background-color:  #66beff;
    color: #303030;
}
.sqs-block-markdown ul a {
    border-bottom: 3px solid #66beff;
    color: #303030;
    padding-bottom: 0px;
}
.sqs-block-markdown ul a:hover {
    border-bottom: 3px solid #66beff;
    background-color:  #66beff;
    color: #303030;
}
/* -  MARKDOWN - BLOCKQUOTE - */
.sqs-block-markdown blockquote {
    padding-left: 0.8em;
    border-left: 8px solid #606060;
}
/* - Tipografia - BLOG - */
.Blog-meta-item--categories {
    text-decoration: underline;
}
/* - NEWsLETTER - */
header.newsletter-form-header > h2.newsletter-form-header-title {
  font-size: 40px;
	background-color: transparent;
}
header.newsletter-form-header > div.newsletter-form-header-description > p {
    font-size: 18px;
}
form.newsletter-form > div.newsletter-form-footnote > p {
  font-size: 19px;
}
/* - GRAFICOS - */
#domi-en-moto {
  max-width: 100px;
}
#domiciliario {
  max-width: 100px;
}
/* - NAVIGATION - */
a.Header-nav-item--active {
  border-bottom: 3px black solid;
}

/* - SUMMARY - */
a.summary-title-link {
  font-size: 18px;
  line-height: 1.2em;
  color: white;
  text-decoration: none;
  font-family: raleway;
  font-weight: 600;
} 
a.summary-title-link:hover {
    text-decoration: none;
}
span.summary-metadata-item.summary-metadata-item--cats {
  text-decoration: underline;
  text-indent: 0.7rem;
}
span.summary-metadata-item.summary-metadata-item--cats > a {
  font-size: 16px;
}

div.summary-title {
  background-color: #66beff;
  padding: 0.5em;
}
div.image-card-wrapper > div > div.image-title-wrapper > div > p > strong {
  font-size: 2.4rem;
}
div.image-card-wrapper > div > div.image-subtitle-wrapper > div > p {
  font-size: 1.8rem;
}

@media screen and (max-width: 640px) {
  h3 {
      font-size:18px;
     }
  h1 {
      font-size:36px;
    	line-height:1.1em;
     }
  .BlogItem-title
    {
        	font-size:36px;
    }
  div.image-card-wrapper > div > div.image-title-wrapper > div > p > strong
    {
      font-size: 1.4rem;
	  }
  div.image-card-wrapper > div > div.image-subtitle-wrapper > div > p
    {
      font-size: 1.3rem;
	  }
a.sqs-block-button-element--large.sqs-block-button-element
    {
      font-size: 2.2rem;
    }
}
/* - SVG - */
.imageholder{
  position: relative;
  img {
    width:100%;
  }
}
.watermark
{
  position: absolute;
  top:0;
  left:0; 
}
#banner-cold-brew {
  min-height:0;
}
img.Header-branding-logo { 
  width: 100%; 
  background-image: url(https://static1.squarespace.com/static/55ed0983e4b058cd816d2689/t/5a0e3341f9619ae2895a39ac/1510880065664/logo-negro-compania-de-cafe-min.svg); }
img.Mobile-bar-branding-logo {
  width: 140px;
  background-image: url(https://static1.squarespace.com/static/55ed0983e4b058cd816d2689/t/5a0e3341f9619ae2895a39ac/1510880065664/logo-negro-compania-de-cafe-min.svg);
}
.horizontalrule-block hr {
  height: 12px;
  margin: 0;
}
#inicio-presentacion {
  border: 12px solid #303030;
}
#somos-negro {
	background-color: white;
}
#somos-negro, #compania-de-cafe, #somos {
  text-align: center;
  font-family: Playfair Display SC;
  font-weight: 900;
  margin: 0;
  padding:0;
  line-height: 4rem;
  color: #303030;
}
#somos-negro {
	font-size: 7rem;
  	margin-bottom:10px;
}

/* - PRODUCTOS - */
.container-producto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.container-img-texto {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.container-texto-producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	aling-items: center;
}
.titulo-producto {
  background-color: #00a8e8;
	padding: 0.80rem;
}
.titulo-producto h3, .titulo-producto h2 {
  color: white;
	margin: 0;
}
.container-img {
  min-width: 100px;
	max-width: 200px;
  padding-top: 1rem;
}
.producto-marca {
  display: flex;
  flex-direction: row;
  justify-content: flex-right;
  align-items: flex-start;
  background-color: #303030;
}
.esconder {
  display: none;
}
.descripcion-producto {
  padding: 1rem;
}
.descripcion-producto > p {
  margin-bottom: 0;
}
.descripcion-producto > h4 {
  margin: 0.5rem 0;
}
.container-boton-compra {
  align-self: flex-end;
}
@media screen and (max-width: 1000px) {
  .container-texto-producto {
    flex-grow: 1;
  }
  .container-producto {
    flex-direction: column;
  }
	.container-img {
		margin-left: auto;
		margin-right: auto;
	}
	.container-img img{
		max-height: 60vh;
	}
	.container-img-texto {
		flex-direction: column;
	}
}
/* - BLOQUE SUMMARY - */
div.summary-thumbnail-outer-container > a.summary-thumbnail-container.sqs-gallery-image-container {
	margin-bottom: 0;
}
p a {
    border-bottom: 3px solid #66beff;
    padding-bottom: 0px;
    box-shadow: inset 0 -4px 0 #66beff;
}
p a:hover {
    border-bottom: 3px solid #66beff;
    background-color:  #66beff;
}

/* - DOMICILIOS -*/
#block-yui_3_17_2_3_1495769819537_75650 {
	max-width: 40vw;
	margin-left: auto;
	margin-right: auto;
}




















